$black: #000 !default;
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 20px;
$body-color: #000;
$body-bg: #fff;


$headings-margin-bottom: 20px;
$paragraph-margin-bottom: 10px;

$dt-font-weight: 400;

$link-color: #ff9900;
$link-decoration: none;

$link-hover-color: #666;
$link-hover-decoration: none;

$table-cell-padding: .75rem !default;
$table-caption-color: #666 !default;

$label-margin-bottom: .5rem !default;